.container {
    width: 40%;

    /* border: 1px solid red; */
}

.container.sign-up {
    margin-left: 100px;
}


.large {
    color: rgba(0,0,0,1.00);
}

.sign-up.text-center {
    background-color: rgba(0,0,0,1.00);
    border: 0 solid black;
}

.sign-up.text-center:hover {
    background-color: #262626;
}

